@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html {height: 100%;}

body {
    height: 100%;
    margin:0px;
}

header {
    height: 100%;
    background: linear-gradient(to bottom right,#abbaab, #ffffff);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0px;
}

header .w3-center {
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    background: rgba(124, 124, 122, 0.692);
    color:white;
    border: solid 0.5px rgb(255, 255, 255);
    letter-spacing: 6px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;
    padding: 10px;
    transition: background-color 1.5s ease-in-out;
}


h1:hover{
    color: rgba(63, 63, 70, 0.904);
    background: rgba(250, 250, 248, 0.568);
}

section {
    background: linear-gradient(to bottom right,#ed4264, #ffedbc);
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: O;
}

article {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5px;
    width: 25%;
    margin: 3%;
    filter: grayscale(0);
    transition: all 0.3s ease-in-out;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    z-index: -1;
    transition: all 1s ease-in-out;
}

article:hover .bg-img{
    filter: grayscale(0);
    transform: scale(1.1);
}


article h2{
    color: rgb(17, 16, 17);
    background-color: #f5f4f2d3;
    padding: 5px;
}


#article1 {background-image: url(img/pantone.jpg);}

#article2{background-image: url(img/pantone1.jpg);}

#article3 {background-image: url(img/pantone.jpg);}

#article4 {background-image: url(img/black.jpg);}

#article5 {background-image: url(img/ok.jpg);}

#article6 {background-image: url(img/brille.jpeg);}


h2{
    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}



p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color:white;
}

header path {
    fill:transparent;
    stroke:black;
}


/* For Mobiles Only */
@media only screen and (max-width: 600px) {
    section{
        flex-direction: column;
    }
    article{
        min-width: 80%;
    }
}

/* For Tablets Only */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    article{
        min-width: 40%;
    }
}

/* For Desktop Only */
@media only screen and (min-width: 900px) {
}