body { 
    margin: 0;
}

.w3-sidebar {
    background-color: #ecd7e0;
    width: 120px;
}

main {
    margin-left: 100px;
}


@font-face {
    font-family: myfont2;
    src: url(font/typo2.otf);
}


aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-family: myfont2;
    font-size: 80px;
    margin-left: 60px;
}

p {
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.w3container w3-center {
    background-color: #ffffffe1;
}


#formation ul {
    margin-top: 20px;   
    margin-left: 100px; 
}

#formation h2 {
    margin-top: 80px;   
    margin-left: 100px; 
    font-size: 30px;
}

#competences .w3-large {
    margin-left: 80px; 
    font-size: 60px;
}

#competences p {
    margin-left: 80px;
}

#competences .w3-white {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

#apropos p {
font-size: 17px;
text-align: justify;
margin-top: 25px;
margin-left: 35px;
margin-right: 35px;
color: rgb(74, 101, 136)
}