@import url('https://fonts.googleapis.com/css?family=Quicksand');

@font-face {
    font-family: myfont;
    src: url(font/gravity.otf);
}

html {height: 100%;}

body {
    height: 100%;
    margin:0px;
}

header{
    position:fixed;
    top:0;
    width:100%;
    height:60px;
    font-family: myfont;
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.637);
    z-index: 1;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: #444644;
    width: 0%;
}


#home{
    background: linear-gradient(to bottom right,#ed4264, #ffedbc);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0px;
}

#home svg{
    height:100%;
    width:100%;
}
#home path {
    fill:transparent;
    stroke:black;
    stroke-width: 1px;
}


#apropos{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}


#competences{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin:10px;
}

.test{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

section {
    background: white;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: O;
}

article {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin: 3%;
    filter: grayscale(0);
    transition: all 0.3s ease-in-out;
    margin: 20px;
    margin-top:20%;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: all 1s ease-in-out;
}

article:hover .bg-img{
    filter: grayscale(0);
    transform: scale(1.1);
}


#article1 {background-color: #B1606D;}

#article2 {background-color: #DE8275;}

#article3 {background-color: rgb(238, 139, 144);}

#article4 {background-color: #FF6C54;}

#article5 {background-color: #FF8A53;}

#article6 {background-color: #FEAB86;}


#experiences{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

#contact{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

h1{
    color: white;
    background:rgba(255, 150, 31, 0.712);
    border: solid 0.5px rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: myfont;
    font-size: 40px;
    padding: 20px;
    transition: background-color 1.7s ease-in-out;
}

h1:hover{
    color: white;
    background: rgb(255, 111, 15);
}
h2{
    color:white;
    background: rgba(255, 254, 254, 0.342);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    width: 300px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: black;
    text-align: justify;
    margin-left: 50px;
    margin-right:50px;
}

.square {
    height: 45px;
    width: 45px;
    background-image: url(img/alpaga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: first 5s linear infinite alternate;
    margin: 3px;
    padding: 3px;
    color: white;
    font-size: 7px;
    }
@keyframes first{
    0%{
        background-color:rgb(228, 113, 37);
        transform: translateY(0);
    }
    100%{
        background-color: #ffffff;
        transform: translateY(-500px);
    }
}
a{
    text-decoration: none;
    color: inherit;
}



footer{
    background: #ed4264;
    text-align: center;
    color: white;
    margin:0px;
}


/* For Mobiles Only */
@media only screen and (max-width: 600px) {

    section{
        flex-direction: column;
    }
    article{
        min-width: 80%;
    }
}

/* For Tablets Only */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    article{
        min-width: 40%;
    }
}

/* For Desktop Only */
@media only screen and (min-width: 900px) {
}